<div class="container py-5 mb-5">
    <h1 class="p-5">List of Items</h1>

    <%= link_to 'New Item', new_item_path, class: "btn btn-primary mb-3" %>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="productosTable" class="table table-striped text-center">
                        <thead class="thead-dark">
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Quantity</th>
                                <th>Actions</th>
                            </tr>
                        </thead>

                        <tbody>
                            <% @items.each do |item| %>
                                <tr>
                                <td><%= item.name %></td>
                                <td><%= item.description %></td>
                                <td><%= item.quantity %></td>
                                <td class="d-flex flex-row-reverse">
                                    <%= button_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
                                    <%= link_to 'Edit', edit_item_path(item), class: "btn btn-warning btn-sm me-2" %>
                                    <%= link_to 'Show', item, class: "btn btn-info btn-sm me-2" %>
                                </td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
